.main-container {
    display: flex;
    flex-direction: column;
    width: 960px;
}

.head-container {
    display: flex;
}
.list-container {
    display: flex;
}

.poster {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 70px;

    height: 300px;
    width: 620px;
    margin: 20px 20px;

    background-color: #cdcdcd;
    color: #929292;
}
.text-poster {
    width: 300px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;

    height: 150px;
    background-color: #cdcdcd;
    color: #929292;
}

.first-box {
    width: 300px;
    margin-left: 20px;
}
.second-box {
    width: 300px;
    margin-left: 20px;
}
.third-box {
    width: 300px;
    margin-left: 20px;
}
